# Cache dan logs CI
/application/cache/*
!application/cache/index.html

/application/logs/*
!application/logs/index.html

!application/*/.htaccess

# Composer & vendor
composer.lock
/vendor/

# Config editor / IDE
.idea/
.vscode/
.nbproject/
.editorconfig

# File sistem lokal
.DS_Store
Thumbs.db

# File backup / sementara
*.bak
*.swp
*.tmp
*.log

# User guide dan build tools
/tests/mocks/database/ci_test.sqlite
/tests/tests/
/tests/results/
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

# File environment (jika ada)
.env
